#Projects {
  margin-top: 10rem;
  padding-top: 2rem;
}

#Projects .Skills {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
.megaprojects {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.bottom-button-export {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0%;
}
.bottom-button-export:first-child {
  background-color: aquamarine;
}
.bottom-button-export .text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 1.4rem;
}
.bottom-button-export .text:first-child {
  background-color: transparent;
  padding: 0%;
  margin: 0%;
}
.text .icon {
  color: black;
  margin-right: 1rem;
  font-size: 1rem;
}
.bottom-button-export .text h2 {
  margin: 0%;
  padding: 0.5rem 1rem 0.5rem 0.8rem;
  font-size: 1rem;
}
.megaprojects .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 3rem;
  border: 2px solid rgba(221, 221, 221, 0.651);
  max-width: 630px;
  min-width: 300px;
}
.Card-header h2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-family: Varela Round;
}
.Card-header h2:nth-child(2) {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
#Projects h3 {
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
  gap: 0.6rem;
  background-color: rgba(0, 255, 255, 0.178);
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;

  font-size: 1rem;
  margin-left: 1rem;
  font-family: Varela Round;
}
.Card-header h2:nth-child(2):nth-child(2) {
  margin-left: 1rem;
  background-color: rgba(221, 221, 221, 0);
}
.Cards .box-center-row {
  display: flex;
  flex-flow: row;
  margin-top: 0%;
  justify-content: flex-start;
  margin-left: 1rem;
  position: relative;
}
.projects-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-left: 0.3rem;
  max-width: 350px;
  margin-left: 0rem;
}
.sub-head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 2rem;
}
hr {
  background-color: rgba(238, 236, 236, 0.623);
  border: none;
  height: 2px;
  width: 60%;
}
strong {
  background-color: rgb(117, 161, 255);
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius: 1rem;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  margin-right: 1rem;
}
.text .icon {
  color: rgb(47, 49, 49);
}
.content {
  color: rgb(70, 68, 68);
}
@media only screen and (max-width: 1000px) {
  .megaprojects {
    overflow-x: auto;
    flex-flow: row nowrap;
  }
  .projects-feature {
    width: 200px;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }
  .megaprojects .grid-item {
    min-width: 97%;
  }
}

.explorebtn {
  border-radius: 1rem;
  border: 2px solid transparent;
  color: black;
  background-color: white;
}
.explorebtn:hover {
  border: 2px solid #ddd;
  background-color: #ddd;
  color: rgb(0, 0, 0);
}
